parameters:
    cli_domain: domainname.com
    
    db_host: localhost
    db_port: 3306
    db_driver: pdo_mysql
    db_charset: utf8
    db_name: ezrun
    db_user: root
    db_pass: 
    db_prefix: 

    smtp_server: localhost
    smtp_port: 25
    smtp_host: localhost

    language_cookie: ezrunlangu
    
    twig_cache: false