<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{$page_title} | Control Panel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link type="text/css" rel="stylesheet" href="{$WEBPATH}main.css"/>
	<link type="text/css" rel="stylesheet" href="{$WEBPATH}jquery.tagit.css"/>
	<link type="text/css" rel="stylesheet" href="{$WEBPATH}tagit.ui-zendesk.css"/>
	<link type="text/css" rel="stylesheet" href="{$WEBPATH}jquery-ui.css"/>
	<link rel="shortcut icon" href="{$WEBPATH}favicon.ico" />
	<script type="text/javascript" src="{$JS_WEBPATH}vendor/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{$JS_WEBPATH}vendor/jquery-ui.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{$JS_WEBPATH}vendor/json2.js"></script>
	<script type="text/javascript" src="{$JS_WEBPATH}vendor/tag-it.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{$JS_WEBPATH}vendor/tiny_mce/tinymce.min.js"></script>
	<script type="text/javascript" src="{$WEBPATH}scripts.js"></script>
</head>
<body>
	
	<div class="ajax_module" id="ajax_module"></div>
	<!-- INCLUDE messages.htm -->
	{body}

</body>
</html>